.modal-expense-entire {
    border: 1px lightgray solid;
}

.expense-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal-expense-header {
    color: white;
    font-size: 24px;
    padding: 20px 50px;
    background-color: #5cc5a7;
}

.expense-form-input {
    background-color: white;
    padding-top: 10px;
    font-weight: 600;
}

.expense-form-submit-button {
    background-color: none;
    padding: 5px;
    margin-top: 20px;
    font-weight: 600;
}

.expense-form-submit-button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.expenses-last-form-element {
    margin-bottom: 15px;
}
