.outer-container {
    height: 100vh;
    background-color: aqua;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    position: relative;
    /* top: 32px; */
    font-family: sans-serif;
    font-size: 11px;
   
}

.left-side{
    display: flex;
    background-color: blue;
    flex:1.5
}



.middle-side {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255,255);
    flex:2;
    box-shadow: -8px 0 10px -6px #000000;
    box-shadow: 6px 0 4px -4px rgba(0, 0, 0, 0.24), -6px 0 4px -4px rgba(0, 0, 0, 0.24);
}



.right-side {
    display: flex;
    background-color: brown;
    flex:1.5
}


.left-empty-div {
    flex-grow: 80%;
    background-color:rgb(255, 255,255);
    flex:0.5
}

.right-side-bar-div{
    flex-grow: 20%;
    background-color:rgb(255, 255,255);
    flex:1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;



}

.active-side-bar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
    position:relative;
    padding-left: 45px;
    color:grey; 
    margin-right: 10px;
    
}


.left-with-info {
    flex-grow: 80%;
    background-color: rgb(255, 255,255);
    flex:1;
    box-shadow: -8px 0 10px -6px #000000;
    box-shadow:-6px 0 4px -4px rgba(0, 0, 0, 0.24),6px 0 4px -4px rgba(0, 0, 0, 0.24) ;

}

.right-empty{
    flex-grow: 20%;
    background-color: rgb(255, 255,255);
    flex:0.5
}


.dashboard{
    background-color: rgb(255, 255,255);
    color: black;
    width: max-content;


}


.all-expenses {
    background-color: rgb(255, 255,255);
    color: black;
    width: max-content;



}


.group {
    background-color: rgb(255, 255,255);
    color: black;
    width: max-content;



}

.friends {
    background-color: rgb(255, 255,255);
    color: black;
    width: max-content;



}



.title {
    background-color:rgb(238, 238,238);
    border-bottom: 1px solid;
    border-color: rgb(221,221,221);
}


.content {
    background-color: rgb(255, 255,255);
    flex: 4;
}


.dashboard:hover {
    background-color:rgb(238, 238,238);
}

.all-expenses:hover {
    background-color:rgb(238, 238,238);
}

.group:hover {
    background-color:rgb(238, 238,238);
}



