#login-form,
#signup-form {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:white;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
    padding: 25px 60px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-form-container {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-form-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-title {
    font-size: 32px;
}

.auth_form_input_container{
    padding-top: 15px;
    row-gap: 2px;
}

.auth_form_input_container > input {
    height: 30px;
    width: 95%;
    font-size: 18px;
    padding: 5px;
}

.signup_form_input_container > input {
    height: 20px;
    width: 95%;
    font-size: 16px;
}

#login-form-button,
#signup-form-button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: #1cc29f;
    padding: 10px 10px 10px;
    box-shadow: 0px 3px 3px grey;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
    margin-top: 20px;
}

#demo-user-button {
    font-weight: 600;
    font-size: 18px;
    color: black;
    background-color: white;
    padding: 10px 5px 10px;
    box-shadow: 0px 3px 3px grey;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    bottom: 2px;
}

#login-form-button:hover,
#demo-user-button:hover,
#signup-form-button:hover {
    box-shadow: none;
    position: relative;
    bottom: 0
}

#login-form>p {
    font-size: 18px;
    text-align: center;
}

.footer {
    background-size:cover
}
