.white-container {
    display: flex;
}

.white-left-container {
    flex-wrap: wrap;
    width: 50vw;
}

.white-right-container {

}

.white-left-total-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: auto;
}
